<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
@font-face {
  font-family: "angsa";
  src: url("fonts/angsa new.ttf");
}

@font-face {
  font-family: "franklin";
  src: url("fonts/franklin gothic book.ttf"),
        url("fonts/franklin gothic heavy.ttf");
}
<style>


*{
        font-family: angsa, franklin;
}

body {

    background: #b3b3b3;
    font-family:  Arial, Helvetica;
    margin-right: 5%;
    margin-left: 5%;
}

hr{
    margin: 0;
    background-color:#f47920;
    border-color:#f47920;
    width: 99.5%;
    border-radius: 5px;
    height: 3px;
    margin-left: 0.2%;
    


}

/*********Cabecera***************/
h1, h2{
    text-align: center;
}
header{
    background-repeat:no-repeat; 
    background:#005883;
    padding:5% 0%;
    border-radius: 5px;
    **/
}

/**************Menú*************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333333;
}
li a:focus {
    background-color: #333333;
}
/***********Principal**********/
section#contenedor{
    border-radius: 5px;
    background-color: #005883;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
article#tema{
    width: 55%;
    height: 375px;
    float:left;
    margin: 1em;
    overflow-y: scroll;
}
aside{
    width: 50%
    float:right;
    margin: 0.5em;
}
/*********Pié de página******/
footer {
    background: #005883;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
}
